apiVersion: v1
kind: ServiceAccount
metadata:
  name: airflow-sa
  namespace: airflow
---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: airflow-role
  namespace: airflow
rules:
  # 1. KubernetesExecutor가 파드를 관리하기 위한 권한
  - apiGroups: [""]
    resources: ["pods", "pods/log", "pods/exec", "configmaps", "secrets"]
    verbs: ["get", "list", "watch", "create", "patch", "update", "delete"]
  # 2. Spark Operator(CRD)를 제어하기 위한 권한
  - apiGroups: ["sparkoperator.k8s.io"]
    resources: ["sparkapplications"]
    verbs: ["get", "list", "watch", "create", "patch", "update", "delete"]
---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: airflow-role-binding
  namespace: airflow
subjects:
  - kind: ServiceAccount
    name: airflow-sa
    namespace: airflow
roleRef:
  kind: Role
  name: airflow-role
  apiGroup: rbac.authorization.k8s.io