executor: "KubernetesExecutor"

images:
  airflow:
    repository: apache/airflow
    tag: 2.10.4-python3.12

nodeSelector:
  workload-type: orchestration

postgresql:
  enabled: true
  image:
    repository: bitnamilegacy/postgresql
    tag: "16.1.0-debian-11-r15"
  primary:
    nodeSelector:
      workload-type: orchestration
    persistence:
      enabled: true
      existingClaim: "airflow-pg-pvc"
      storageClassName: "manual"

rbac:
  create: false

serviceAccount:
  create: false
  name: "airflow-sa"

config:
  logging:
    remote_logging: 'True'
    remote_base_log_folder: 's3://datalake/logs/airflow-logs/'
    remote_log_conn_id: 'minio_s3_conn'

dags:
  gitSync:
    enabled: true
    repo: "https://github.com/datahyeon-de/data-platform-core.git"
    branch: "main"
    subPath: "dags"
    wait: 30

scheduler:
  serviceAccount:
    name: "airflow-sa"

webserver:
  serviceAccount:
    name: "airflow-sa"

triggerer:
  persistence:
    enabled: false
  nodeSelector:
    workload-type: orchestration
  serviceAccount:
    name: "airflow-sa"

workers:
  persistence:
    enabled: false
  serviceAccount:
    name: "airflow-sa"