# 1. Prometheus 설정
prometheus:
  prometheusSpec:
    nodeSelector:
      workload-type: monitoring
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: manual
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 256Gi
              
  ingress:
    enabled: true
    ingressClassName: "nginx"
    hosts:
      - "prometheus-b.local"
    paths:
      - "/"
    pathType: "ImplementationSpecific"
      
# 2. Grafana 설정
grafana:
  enabled: true
  nodeSelector:
    workload-type: monitoring
  
  ingress:
    enabled: true
    ingressClassName: nginx
    hosts:
      - grafana.local
    path: /

  # 외부 Prometheus Host-VM (VM 16) 연동
  additionalDataSources:
    - name: Prometheus-Host-VM
      type: prometheus
      url: http://192.168.0.16:9090
      access: proxy
      editable: true

nodeExporter:
  enabled: true

alertmanager:
  enabled: false